<nav class="user-nav">
	<a href="/">
		<h1>k.</h1>
	</a>
	<ul>
		<% if (user) { %>
		<li><a href="/menu">Menu</a></li>
		<li ><a href="#" class="email">Daginn, <%= user.email %></a></li>
		<li><a href="/logout">Útskráning</a></li>
		<% } else { %>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/login">Innskráning</a></li>
		<li><a href="/signup" class="btn">Nýskráning</a></li>
		<% } %>
	</ul>
</nav>
