<nav>
    <ul class="mini-nav__ul">
        <li class="mini-nav__li">
            <a href="/">Home</a>
        </li>
        <li class="mini-nav__li">
            <a href="/sport">Sport</a>
        </li>
        <li class="mini-nav__li">
            <a href="#">Link</a>
        </li>
        <li class="mini-nav__li">
            <a href="#">Link</a>
        </li>
    </ul>
</nav>