<nav class="mini-nav">
	<ul class="mini-nav__ul">
		<li class="mini-nav__li">
			<a href="/"><b>ÞÍNAR FRÉTTIR</b></a>
		</li>
		<li class="mini-nav__li">
			<a href="/sport">VINSÆLUSTU FRÉTTIRNAR</a>
		</li>
		<li class="mini-nav__li">
			<a href="#">NÝJUSTU FRÉTTIRNAR</a>
		</li>
	</ul>
</nav>
