<nav>
    <ul class="nav__ul">
        <li class="nav__li first">
            <a href="/">
                <img src="https://frettabladid.overcastcdn.com/img/favicon.65c456703f16.ico" alt="frettabladid">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.vb.is/static/img/vb.ico" alt="vidskiptabladid">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.visir.is/static/1.0.538/img/favicon/favicon-96x96.png" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.dv.is/wp-content/themes/dv/img/favicon/favicon-32x32.png" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
    </ul>
</nav>