<nav>
    <ul class="nav__ul">
        <li class="nav__li">
            <a href="/">
                <img src="https://frettabladid.overcastcdn.com/img/favicon.65c456703f16.ico" alt="frettabladid">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
    </ul>
</nav>