<nav class="side-nav">
    <ul class="nav__ul">
        <li class="nav__li top">
            <a href="/">
                <h1>k.</h1>
            </a>
        </li>
        <li class="nav__li first">
            <a href="/">
                <img src="https://frettabladid.overcastcdn.com/img/favicon.65c456703f16.ico" alt="frettabladid">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.vb.is/static/img/vb.ico" alt="vidskiptabladid">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.visir.is/static/1.0.538/img/favicon/favicon-96x96.png" alt="">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="https://www.dv.is/wp-content/themes/dv/img/favicon/favicon-32x32.png" alt="">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
                <p>frettabladid</p>
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
            </a>
        </li>
        <li class="nav__li">
            <a href="#">
                <img src="" alt="">
                <p>frettabladid</p>
            </a>
        </li>
    </ul>
</nav>