<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/nav.css" />
		<link rel="stylesheet" href="css/menu.css" />

		<!-- font awesome -->
		<script src="https://use.fontawesome.com/735d08bd89.js"></script>

		<title>menu</title>

		<style>
			.fb,
			.mbl,
			.visir,
			.man,
			.fotbolti,
			.dv,
			.klippa,
			.kjarninn,
			.ruv,
			.stundin,
			.kaktus,
			.ron {
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<%- include('../partials/header'); -%>

		<div class="wrapper">
			<h1>VELDU ÞÍNAR UPPÁHALDS FRÉTTAVEITUR & ÁHUGAMÁL</h1>
			<div class="news-wrapper">
				
				<% if (user.settings.service.fb) { %>
				<div class="news fb true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Fréttablaðið</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else{ %>
				<div class="news fb false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Fréttablaðið</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.mbl) { %>
				<div class="news mbl true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Morgunblaðið</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else{ %>
				<div class="news mbl false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Morgunblaðið</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.man) { %>
				<div class="news man true">
					<img
						src="https://www.mannlif.is/wp-content/uploads/2020/06/mannlif-fav.png"
						alt="fretta mynd"
					/>
					<div class="news_text">
						<h2 class="news_h2">Man.is</h2>
						<p class="news_p">
							Fréttastofa Mannlífs sérhæfir sig í beittum fréttaskýringum, við
							ræðum við áhugavert fólk, greinum frá fréttum sem skipta máli og
							stöndum vaktina í neytendamálum.
						</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else{ %>
				<div class="news man false">
					<img
						src="https://www.mannlif.is/wp-content/uploads/2020/06/mannlif-fav.png"
						alt="fretta mynd"
					/>
					<div class="news_text">
						<h2 class="news_h2">Man.is</h2>
						<p class="news_p">
							Fréttastofa Mannlífs sérhæfir sig í beittum fréttaskýringum, við
							ræðum við áhugavert fólk, greinum frá fréttum sem skipta máli og
							stöndum vaktina í neytendamálum.
						</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.vb) { %>
				<div class="news vb true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Viðskiptablaðið</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else { %>
				<div class="news vb false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Viðskiptablaðið</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.visir) { %>
				<div class="news visir true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Visir</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else { %>
				<div class="news visir false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Visir</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.dv) { %>
				<div class="news dv true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">DV</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else { %>
				<div class="news dv false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">DV</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.fotbolti) { %>
				<div class="news fotbolti true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Fotbolti</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else { %>
				<div class="news fotbolti false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Fotbolti</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.klippa) { %>
				<div class="news klippa true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Klippa Tv</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else { %>
				<div class="news klippa false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Klippa Tv</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.kjarninn) { %>
				<div class="news kjarninn true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Kjarninn</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else { %>
				<div class="news kjarninn false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Kjarninn</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.ruv) { %>
				<div class="news ruv true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Ruv</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else { %>
				<div class="news ruv false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Ruv</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.stundin) { %>
				<div class="news stundin true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Stundin</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else { %>
				<div class="news stundin false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Stundin</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %> <% if (user.settings.service.kaktus) { %>
				<div class="news kaktus true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Kaktus</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } else { %>
				<div class="news kaktus false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Kaktus</h2>
						<p class="news_p">hihih</p>
					</div>
				</div>
				<% } %> <% if (user.settings.service.ron) { %>
				<div class="news ron true">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Ron Burgundi</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } else { %>
				<div class="news ron false">
					<img src="" alt="fretta mynd" />
					<div class="news_text">
						<h2 class="news_h2">Ron Burgundi</h2>
						<p class="news_p">hihih</p>
						<div class="tag">
							<p class="tag_p">Mælum með</p>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>

		<script src="/js/menu.js"></script>
	</body>
</html>
